---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Inicio";
---
<BaseLayout pageTitle={pageTitle}>

  	<h2>Mi impresionante subtítulo del blog</h2>

	<h4>Este es mi primer blog con Astro</h4>

	<p>
		Es un blog de prueba que estare actualizando con el plazo del tiempo para darle mas funcionalidad y estetica
	</p>
		
	<p>
		Me interesa aprender a programar con astro porque es un framework que tiene buenas actualizaciones y brinda un buen soporte
		no como angular, asi que sinceramente estoy pensando mudarme solamente a Astro, React y VUE y con el conocimiento que tengo
		de Angular comerme un pequeno ajonjoli porque ya no se que escribir
	</p>
</BaseLayout>